/* _content/AL.UI/Pages/AgregarModificarCurso.razor.rz.scp.css */
.form-control[b-j8nfqjf62o] {
    margin-bottom: 15px;
}

.form-date[b-j8nfqjf62o] {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.form-date__label[b-j8nfqjf62o] {
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 8px;
}

.form-date__input[type="date"][b-j8nfqjf62o] {
    appearance: none;
    color: #1D1D1D;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #ECF0F1;
    background: #ECF0F1;
    display: inline-block;
    visibility: visible;
    width: 140px;
    padding: 4px;
    position: relative;
}

.form-date__input[type="date"]:focus[b-j8nfqjf62o] {
    color: #495057;
    background-color: #FFFFFF;
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: 0 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: auto;
}

.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-date-and-time-value {
    margin: 0;
}

.form-date__input[type="date"][b-j8nfqjf62o] {
    border: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
}

.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-inner-spin-button,
.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-outer-spin-button,
.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-datetime-edit-month-field {
    padding: 0;
}

.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-datetime-edit-day-field {
    padding: 0;
}

.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-datetime-edit-year-field {
    padding: 0;
}

.form-date__input[type="date"][b-j8nfqjf62o]::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}

.aside-example[b-j8nfqjf62o] {
    font-size: 16px;
    width: auto;
    top: 0;
    right: 0;
    position: fixed;
    padding: 16px;
    border: 1px solid black;
}

.botonlindo[b-j8nfqjf62o] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-j8nfqjf62o] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/AgregarModificarEstudiante.razor.rz.scp.css */
.form-control[b-mc80d2oymq] {
    margin-bottom: 15px;
}

.form-date[b-mc80d2oymq] {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.form-date__label[b-mc80d2oymq] {
    font-family: "Verdana", arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 8px;
}

.form-date__input[type="date"][b-mc80d2oymq] {
    appearance: none;
    color: #1D1D1D;
    font-family: "Verdana", arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #ECF0F1;
    background: #ECF0F1;
    display: inline-block;
    visibility: visible;
    width: 140px;
    padding: 4px;
    position: relative;
}

.form-date__input[type="date"]:focus[b-mc80d2oymq] {
    color: #495057;
    background-color: #FFFFFF;
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.form-date__input[type="date"][b-mc80d2oymq]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: 0 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: auto;
}

.form-date__input[type="date"][b-mc80d2oymq]::-webkit-date-and-time-value {
    margin: 0;
}

.form-date__input[type="date"][b-mc80d2oymq] {
    border: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
}

.form-date__input[type="date"][b-mc80d2oymq]::-webkit-inner-spin-button,
.form-date__input[type="date"][b-mc80d2oymq]::-webkit-outer-spin-button,
.form-date__input[type="date"][b-mc80d2oymq]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.form-date__input[type="date"][b-mc80d2oymq]::-webkit-datetime-edit-month-field {
    padding: 0;
}

.form-date__input[type="date"][b-mc80d2oymq]::-webkit-datetime-edit-day-field {
    padding: 0;
}

.form-date__input[type="date"][b-mc80d2oymq]::-webkit-datetime-edit-year-field {
    padding: 0;
}

.form-date__input[type="date"][b-mc80d2oymq]::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}

.aside-example[b-mc80d2oymq] {
    font-size: 16px;
    width: auto;
    top: 0;
    right: 0;
    position: fixed;
    padding: 16px;
    border: 1px solid black;
}

.botonlindo[b-mc80d2oymq] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-mc80d2oymq] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/Cursos.razor.rz.scp.css */
.botonlindo[b-143tie19sv] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-143tie19sv] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/Estudiantes.razor.rz.scp.css */
.botonlindo[b-mx3ojn2e22] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-mx3ojn2e22] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/Home.razor.rz.scp.css */
.btn-primary[b-nci2p7a7ui] {
    margin-bottom: 15px;
}

.botonlindo[b-nci2p7a7ui] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-nci2p7a7ui] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/Inscripciones.razor.rz.scp.css */
.botonlindo[b-z2q7vqu8wy] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-z2q7vqu8wy] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/ListadoAlumnosInscriptos.razor.rz.scp.css */
.botonlindo[b-degvmm2va5] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-degvmm2va5] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/ListadoEnCurso.razor.rz.scp.css */
.botonlindo[b-mmgqnimldv] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-mmgqnimldv] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/ListadoFinalizado.razor.rz.scp.css */
.botonlindo[b-ickkaukznc] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-ickkaukznc] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Pages/ListarCursosInscriptos.razor.rz.scp.css */
.botonlindo[b-47xmzpkvsk] {
    background-color: rgb(18, 170, 61);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.botonmalo[b-47xmzpkvsk] {
    background-color: rgb(170, 18, 18);
    color: white;
    border: none;
    height: 35px;
    width: 75px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
/* _content/AL.UI/Shared/MainLayout.razor.rz.scp.css */
.page[b-p15pbsciya] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-p15pbsciya] {
    flex: 1;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, #c7d1fc 100%);
}

.sidebar[b-p15pbsciya] {
    background-image: linear-gradient(180deg, rgb(0, 27, 100) 0%, #a900d4 70%);
}

.top-row[b-p15pbsciya] {
    background-color: #e8b4b4;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-p15pbsciya]  a,
.top-row .btn-link[b-p15pbsciya] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-p15pbsciya] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p15pbsciya] {
        display: none;
    }

    .top-row.auth[b-p15pbsciya] {
        justify-content: space-between;
    }

    .top-row a[b-p15pbsciya],
    .top-row .btn-link[b-p15pbsciya] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p15pbsciya] {
        flex-direction: row;
    }

    .sidebar[b-p15pbsciya] {
        width: 225px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-p15pbsciya] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-p15pbsciya],
    article[b-p15pbsciya] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/AL.UI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1o6ufadtpc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-1o6ufadtpc] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-1o6ufadtpc] {
    font-size: 1.2rem;
}

.oi[b-1o6ufadtpc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-1o6ufadtpc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-1o6ufadtpc] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-1o6ufadtpc] {
    padding-bottom: 1rem;
}

.nav-item[b-1o6ufadtpc]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-1o6ufadtpc]  a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-1o6ufadtpc]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
